extends layout

block content

  main(role='main')
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron.jumbotron-fluid.clip
      .container.header-container
        h1.display-3 #{header}
        p.header-description
          | Drivvyn helps you create a tangible roadmap to achieve your career goals
        p
          a.btn.btn-light.btn-lg(href='#sign-up', role='button') Sign Up &raquo;
    .container.features
      .row
        .col-md-4
          i(data-feather='map')
          h2 Personalized Professional Roadmap
          p
            | Tell us where you are and where you want to go. We'll help you create the tasks that will get you there. 
        .col-md-4
          i(data-feather='briefcase')
          h2 Resources to Keep You Moving
          p
            | We collect resources from across the web and package them for you, to inspire and coach you on your growth path.
        .col-md-4
          i(data-feather='message-square')
          h2 Network of Helpful Advisors	
          p
            | Ask questions of the growing Drivvyn network and get answers that can help you unlock your full potential.
    
    .jumbotron.jumbotron-fluid.cta-jumbotron
      .container.cta-container
        h3#sign-up Join Drivvyn
        p.sign-up-text
        | While we continue to build Drivvyn, we need feedback from devoted, growth-minded folks like you looking to see a difference in your career path. Along the way, we'll provide actionable steps to help craft your career growth plan. Sound like something you'd like to be a part of? Join Drivvyn today. 
        form(method='post', action='/')
          .form-group
            input.form-control(type='email', name='email', placeholder='Enter email')
            .col-md
          button.btn.btn-secondary(type='submit') Sign up &raquo; 
    hr